* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(233, 233, 229);
    font-family: Verdana;
    font-weight: 500;
}

.container {
    background-color: rgb(10, 14, 66);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-column-gap: 5px;
}

.squareWin {
    background-color: rgb(210, 240, 41);
    height: 5rem;
    width: 5rem;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 3px 3px 8px black;
    color: white;
    box-shadow: 1px 2px 2px rgb(184, 202, 211);
    cursor: pointer;
}

.square {
    background-color: rgb(75, 150, 212);
    height: 5rem;
    width: 5rem;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 3px 3px 8px black;
    color: rgb(209, 224, 230);
    box-shadow: 2px 2px 1px rgb(92, 159, 214);
    cursor: pointer;
}

.button {
    position: absolute;
    left: 30%;
    top: 85%;
    transform: translate(-50%, -50%);
    border: solid 2px;
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    box-shadow: 0 5px 5px black;
    border-radius: 25px;
    background-color: rgb(10, 14, 66);
    color: rgb(75, 150, 212);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(75, 150, 212);
    color: rgb(238, 223, 10);
}

.winner {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: rgb(238, 223, 10);
}

.player1score {
    position: absolute;
    left: 25%;
    top: 18%;
    transform: translate(-50%, -50%);
}

.player2score {
    position: absolute;
    left: 75%;
    top: 18%;
    transform: translate(-50%, -50%);
}

.score1 {
    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(75, 150, 212);
    box-shadow: 0 5px 5px rgb(6, 8, 39);
    background-color: rgb(10, 14, 66);
    opacity: .9;
}

.score2 {
    position: absolute;
    left: 75%;
    top: 25%;
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(75, 150, 212);
    box-shadow: 0 5px 5px rgb(6, 8, 39);
    background-color: rgb(10, 14, 66);
    opacity: .9;
}

.buttonReset {
    position: absolute;
    left: 70%;
    top: 85%;
    transform: translate(-50%, -50%);
    border: solid 2px;
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    box-shadow: 0 5px 5px black;
    border-radius: 25px;
    background-color: rgb(10, 14, 66);
    color: rgb(75, 150, 212);
}

.buttonReset:hover {
    cursor: pointer;
    background-color: rgb(75, 150, 212);
    color: rgb(238, 223, 10);
}

.backimg {
    background-image: url('./pictures/3288118.jpg');
    background-size: auto;
}